.basic-page{
    height: 100%;
    padding: 20px;
    // display: flex;
}

.legalText{
    font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1.625;
}

.padding-30{
    padding: 30px;
}