.basic-page{
    width: 100%;
    // height: 100%;
    // padding: 20px;
    // display: flex;
    // display: block;
    // h3{
    //     color:rgb(255, 136, 0);
    // }

    h4{
        text-align: center;
        margin: 10px;
        // width: 100%;
        font-size: 25px;
    }
}
.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 318.5px;
    overflow: hidden;
    img{
        filter: sepia(20%);
        min-width: 100%;
        // min-height: 100%;
        // position: relative;
        object-fit: cover;
        // max-height: 500px;
    }
    span{
        position: absolute;
        font-size: 50px;
        font-weight: 800;
        color: white;
        text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
    }
}

.about{
    margin-left: 100px;
    margin-right: 100px;
    p, h3, ol, h4{
        padding: 10px;
        box-sizing: border-box;
    }

}

.main-one{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;

    .process{
        width: 33%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h3{
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
}

.main-two{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .reason{
        display: flex;
        .reason-image{
            width: 40%;
        }
        .reason-text{
            width: 60%;
        }
        // img{
        //     max-height: 300px;
        //     max-width: 300px;
        // }
        // h3{
        // }
        // p{
        // }
    }
}

.main-three{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    h4{
        width: 100%;
    }
    img{
        width: 60%;
        object-fit: contain;
    }
    .proclaim{
        box-sizing: border-box;
        width: 39%;
        padding: 10px;
        p{
            padding-bottom: 17px;
        }
    }
}

.main-four{
    margin-top: 30px;
    background-color:rgba(247,191,77,0.87);
    // height: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    p, button{
        // position: absolute;
        // font-weight: 500;
        margin: 5px;
        padding: 10px;
        // padding: 10px;
        // padding: 10px;
        // padding: 10px;
        min-width: 350px;
        font-size: 34px;
        font-weight: 800;
        color: white;
        // text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
    }
}

.main-five{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    .review{
        width: 45%;
        strong{
            color: #ff2600;
        }
    }
}


.legalText{
    font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1.625;
    color: black;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    p{
        padding-top: 20px;
    }
}

.padding-30{
    padding: 30px;
}