/* Header */

header div {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    // display: inline-block;

    // width: 300px;
    display: flex;
    // justify-content: space-around;
    align-items: center;

    a{
        // display: inline-block;
        font-size: 20px;
        border: 1px;
        padding: 10px;
        // font: 25px; // Arial, sans-serif;
        // color:green;
    }
    // a:hover{
    //     color: red;
    // }
}

.message-bar {
    background-color: rgba(247, 191, 77, 0.87);
    width: 100%;
    border: red, 1px, solid;
    p{
        color: wheat;
        font-weight: bold;
        font-size: 18px;
        margin: 5px;
    }
}


/* Footer */
footer {
    display: block;
    // overflow: auto;
    // position: absolute;
    // left: 0;
    // bottom: 0;
    .footer{
        box-sizing: border-box;
        display: flex;
        // position: absolute;
        // flex-flow: row wrap;
        left: 0;
        bottom: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 80px;
        padding-right: 80px;

        .footer-links {
            min-width: 150px;
            display: inline-block;
            padding: 10px;
            // font-size: 18px;
            // justify-content: center;

            a{
                padding: 3px;
                display: block;
                // justify-content: space-around;
            }
            .footer-buttons{
                display: flex;
                justify-content: space-around;
                padding: 5px;
                img{
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .footer-speech{
            display: inline-flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px;
            min-width: 430px;
            // font-size: 18px;
        }
    }
}

// footer::after {
//     content: "";
//     clear: both;
//     display: table;
// }



// .SideContainer{
//     background-color: green;
//     position:absolute;
//     left:0; 
//     top:80; 
//     bottom: 400;
//     width: 20vw;
//     min-width: 200px;
//     max-width: 300px;
//     padding: 3px;
// }

// .SideContainer{
//     background-color: gold;
//     position: relative;
//     float: left;
//     left:20vw; 
//     top: 25;
//     width:80%;
//     min-width: 400px;
//     margin-right: 3px;
//     padding: 8px;
// }