.hostfile{
    width: 85%;
    padding: 20px;

    position: relative;
    // left: 50%;
    // transform: translate(-50%, 0);

    // display: flex;
    // flex-wrap: wrap;
    // align-content: space-around;
    // justify-content: center;
}