.new-meetup{
    width: 80%;
    // display: flex;
    // flex-direction: 
}


.new-meetup-changes{
    display: inline-block;
    width: 100%;
}

.new-meetup-left{
    width: 50%;
    float: left;
}

.new-meetup-right{
    width: 50%;
    float: right;
}

.new-meetup-bottom{
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.where input, .new-meetup-right input, .new-meetup-right textarea{
    width: 95%;
}

.when {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    p{
        padding: 5px;
    }
}

input[type="time"]{
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 30px;
    margin: 10px;
    transform: translate(-20%,0);
}

.time{
    font-weight: bold;
    color: rgb(255, 136, 0);
    font-size: 25px;
}

.calendar{
    width: 100%;
}

.react-datepicker-popper{
    position: absolute;
    will-change: transform;
    transform: translate3d(0px, 26x, 0px);
    top: 0px;
    left: 0px;
    margin-top: 10px;
    z-index: 1;
    background-color: white;
}

.react-datepicker{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #000;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
}

.react-depicker__triangle{
    border-top:none;
    border-bottom-color: #f0f0f0;
    top: 0;
    margin-top: -8px;
    box-sizing: content-box;
    position: absolute;
    border: 8px solid transparent;
    height: 0;
    width: 1px;
    margin-left: -8px;
    left: 50px;
}

.react-datepicker__navigation{
    background: none;
    line-height: 1.7rem;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    padding: 0;
    border: 0.45rem solid transparent;
    z-index: 1;
    height: 10px;
    width: 10px;
    text-indent: -999em;
    overflow: hidden;

}
.react-datepicker__navigation--previous{
    left: 10px;
    border-right-color: #ccc;
}
.react-datepicker__navigation--next{
    right: 10px;
    border-right-color: #ccc;
}
.react-datepicker__month-container{
    float: left;
}
.react-datepicker__header{
    text-align: center;
    background-color: #f0f0f0;
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    padding-top: 8px;
    position: relative;
}
.react-datepicker__month .react-datepicker-time__header{
    margin-top: 0;
    color: #000;
    font-weight: bold;
    font-size: 0.944rem;
}
.react-datepicker__day-names{
    white-space: nowrap;
    .react-datepicker__day-name{
        color: #000;

        display: inline-block;
        width: 1.7rem;
        line-height: 1.7rem;
        text-align: center;
        margin: 0.166rem;
    }
}
.react-datepicker__month{
    margin: 0.4rem;
    text-align: center;
    .react-datepicker__week{
        white-space: nowrap;
        .react-datepicker__day{
            color: #000;
            display: inline-block;
            width: 1.7rem;
            line-height: 1.7rem;
            text-align: center;
            margin: 0.166rem;
        }
    }
}


@media only screen and (max-width: 800px) {
    .new-meetup{
      width: 90%
    }
    input[type="time"]{
        font-size: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .new-meetup{
      width: 80%;
    }

    .new-meetup-changes{
        display: block;
        width: 100%;
    }
    
    .new-meetup-left{
        width: 100%;
        float: none;
    }
    
    .new-meetup-right{
        width: 100%;
        float: none;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .new-meetup-bottom{
        width: 100%;
        float: none;
        display: block;
        margin-top: 20px;
        // justify-content: space-evenly;
    }
    .when{
        padding: 0;
    }
    input[type="time"]{
        font-size: 30px;
    }
}

@media only screen and (max-width: 450px) {
    .new-meetup{
      padding: 10px;
    }
    input[type="time"]{
        font-size: 25px;
    }
}



// .meetup-submit{
//     padding: 10px;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     p{
//         padding-left: 5px;
//         padding-right: 10px;
//     }
// }