.meetup_index{
    width: 80vw;
    height: 100%;
}

.meetup-index-header{
    font-size: 24px;
}

// .meetups{
//     min-width: 100%;
// }

.cityRow{
    border: 2px solid rgb(255, 38, 0);
    padding-bottom: 20px;

    h3{
        display: block;
        margin: 15px;
        font-size: 30px;
    }

    .meetup{        //meetup cell
        display: block;
        overflow: auto;
        white-space: nowrap;

        .meetup-index-item{
            display: inline-block;
            width: 300px;
            margin: 5px;
            div{
                padding: 0;
                width: 100%;
                display: block;
            }
            .host-pic-thumb{
                height: 300px;
                width: 300px;
                font-size: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .meetup-actions{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
            }
            .meetup-details{
                box-sizing: border-box;
                padding: 5px;
                p{
                    padding: 5px;
                    word-wrap: break-word;
                }
            }
            // a{
            //     color: white;
            //     padding: 2px;
            //     margin: 2px;
            //     background-color: blue;
            //     border: none;
            // }
            // a:hover{
            //     background-color: green;
            // }

            // button:hover{
            //     background-color: rgba(0, 0, 255, 0.699);
            // }
        }
    }
}