/* Profile */

// profile sidebar
.sidebar{
    padding-top: 30px;
    height: 100%;
    width: 250px;
    // float: left;
    div{
        padding-top: 30px;
        padding-bottom: 10px;
        p{
            padding-left: 1em;
        }
    }
}

.editLink{
    display: block;
    padding: 0.5em;
}


.profile-history {
    width: 100%;
    display: inline-flex;
    justify-content: right;
}

.profile-sidebar h1{
    /* font: 1em sans-serif;; */
}

//////////////////////////////////////////////////////////
// meetup pres
.meetup-index-item{
    display:inline-flex;
    width: 100%;
    justify-content: space-between;
}
.meetup-left{
    // width: 50%;
    box-sizing: border-box;
    padding: 10px;
}
.meetup-right{
    // width: 50%;
}
.meetup-options{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    // background-color: white;
    a, button{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    a{
        text-align: center;
        padding: 5px;
        padding-bottom: 10px;
    }
}

//////////////////////////////////////////////////////////
.profile-right {
    width: 100%;
}

/* Profile edit, bottom */
.profile-settings label {

}

.profile-settings label h3 {
    /* float: left */
}

.profile-bar{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}