// For signup and edit profile, as they are similar.

.edit-profile{
    display: inline-flex;
}

.profile-details{
    // width: 100%;
    // display: inline-block;
    // display: flex;
}

.left{
    display: inline-block;
    // display: flex;
    // overflow: 
}

.right{
    width: 350px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    // justify-content: right;
    // input{
    //     padding: 20px;
    // }

    // img{
    //     max-width: 400px;
    //     display: flex;
    //     justify-content: center;
    // }

}
.preview{
    max-width: 350px;
    max-height: 350px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}