// For signup and edit profile, as they are similar.

.edit-profile{
    display: inline-flex;
    position: relative;
}

.profile-details{
    margin: 5px;
    // width: 100%;
    // display: inline-block;
    display: flex;
}

.left{
    display: inline-block;
    // display: flex;
    // overflow: 
}

.right{
    max-width: 350px;
    display: inline-block;
    vertical-align: top;
    .placeholder{
        display: none;
    }

}

.preview{
    display: flex;
    flex-direction: column;
    p{
        overflow:hidden;
        text-overflow:ellipsis;
    }
    img{
        margin-top: 5px;
        align-self: center;
        max-height: 350px;
    }
}

@media only screen and (max-width: 900px) {
    .profile-details{
        display: block;
    }
}

@media only screen and (max-width: 650px) {
    #edit-profile{
        .right{
            // height: 540px;
            .placeholder{
                display: block;
            }
            .preview{
                position: absolute;
                max-width: 350px;
                width: 80vw;
                left: 0%;
                margin-left: 10vw;
                img{
                    max-height: 350px;
                }
            }
        }
    }
}